export(byNameCount)
export(nameBinom)
export(nameMetric)
export(readNISRANames)
export(readONSNames)
export(readGRONames)
export(readSSANames)
export(yearBirths)
import(gdata)
import(plyr)
importFrom(binom,binom.confint)
importFrom(RCurl,getBinaryURL)
importFrom(reshape2,dcast)
importFrom(XML,htmlParse)
importFrom(XML,xmlAttrs)
importFrom(XML,xpathSApply)
