export(addClassifier)
export(byNameCount)
export(mergeSum)
export(readNISRANames)
export(readONSNames)
export(readScotlandNames)
export(readSSANames)
import(gdata)
import(plyr)
importFrom(binom,binom.confint)
importFrom(RCurl,getBinaryURL)
importFrom(reshape2,dcast)
importFrom(XML,htmlParse)
importFrom(XML,xmlAttrs)
importFrom(XML,xpathSApply)
